# Logmon Profile Config for Clarity Beacon Monitoring
#
# Version 1.0 - 04/05/2012
# 
# This file is sourced and each config setting below becomes a shell variable
# so be cautious with var naming and remember to escape quotes and other special chars accordingly


profile="PPM Beacon Monitoring"
filename="/usr/bin/perl /fs0/od/nimsoft/probes/super/ppm_app/bin/beacon_start.pl -p beacon -a start"
interval="300"
scanmode="command"
qos="no"
excludes=""
ematch=""
alarm="yes"

